<div class="page-header">
  <div class="block">
    <h1>Awesome Ideas!</h1>
  </div>
  <div class="sort right">
    <%= render 'ideas/addidea' %>
    <%= render 'sort' %>
  </div>
</div>
<%= render 'list' %>
<%= render 'ideas/addidea' %>
