<h2>Latest Ideas from our Think Tank!</h2>
<%= render 'sort' %>

<%= render 'list' %>

<% if current_user %>
  <%= link_to "Add a new idea!", new_idea_path, class: "btn btn-primary" %>
<% else %>
  <%= link_to 'Log In to add idea!', login_path, class: "btn btn-primary" %>
<% end %>
