<h2>Latest Ideas from our Think Tank!</h2>
<%= render 'sort' %>
<% @ideas.each do |idea| %>
  <li>
    <strong><%= link_to idea.tag, idea_path(idea) %></strong> summary: <%= idea.summary %>
  </li>
<% end %>
<br>
<% if current_user %>
  <%= link_to "Add a new idea!", new_idea_path, class: "btn btn-primary" %>
<% end %>
