<div class="page-header blackbg">
  <h1>Indie Think Tank <small>"Connecting game ideas, to those who can make it happen!"</small></h1>
</div>
<div class="list-group-item">
<strong><p class="big">Have a awesome game idea? Post it here! Are you a game developer looking for something to do? Check out our Ideas, and share with the community! Its that simple!</p></strong>
<br>
<h3>Why post your idea here?</h3>
<p>A common practice for developers to do Game a month projects. One month to make a completed project. This homes their skill, and gives them oppurtunity to experement outside what they are used to making, without loosing much time. I remember having many dreams of game ideas, characters, plots but no ability to create them. Wishing I knew someone who could. Now you can! Just submit your idea and a dev working on a game a month project may like to work on that. And will upload the result here.</p>
<br>
<h3>What if I dont know how to program?</h3>
<p>Then your a perfect candidate to submit ideas. You dont need to write ideas from a developer's perspective. Just keep it simple.</p>
<br>
<h3>What are the rules?</h3>
<p>Well, by submitting an idea here means, you are willing to let someone use said idea for his or her project. You forfit any legal ownership of said idea. THIS IS NOT FOR COLLABORATION ON RETAIL GAMES. Once posted you may delete an idea, but you can't claim games greated from that idea.</p>
<br>
<h3>As a programer why use this site?</h3>
<p>This site is for programers who want to make small game projects for GAM projects (Game a Month), for practice, game jams, game chalenges, hackathons, or hobbyists. THIS IS NOT INTENDED FOR RETAIL PROJECTS.</p>
<br>
<h3>Can I submit an old game project?</h3>
<p>Only if it relates to an existing idea. The point of this site is for posted ideas to become a reality, not a directory of indie games.</p>
<br>
<h3>Can I support a good idea?</h3>
<p>Yes you can like and Idea once, and the like will appear next to the name.</p>
<br>
<h3>How do I get started?</h3>
<p>Sign up and start posting Ideas! Have fun!</p>
</div>
