<div class="page-header">
  <div class="block">
    <h1>Awesome Games!</h1>
  </div>
  <div class="sort right">
    <%= render 'ideas/needidea' %>
    <%= render 'sort' %>
  </div>
</div>
<%= render 'gamelist' %>
<%= render 'ideas/needidea' %>
