<div class="page-header block">
  <h1>Awesome Games!</h1>
  <div class="sort right">
    <%= render 'sort' %>
  </div>
</div>
<%= render 'gamelist' %>
<div class="sort">
  <% if current_user %>
    <%= link_to "Need an idea?", ideas_path, class: "btn btn-primary" %>
  <% end %>
</div>
