/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require rails_bootstrap_forms
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #ffffff;
}

.jumbotron {
  background-size: 100%;
  height: 300px;
}

.page-header > h1 {
  font-size: 3em;
}

.jumbotron > h4{
  color: white;
  padding-top: 40px;
}

.jumbotron > h1 {
  color: white;
  font-size: 4em;

}

.jumbotron > small{
  font-size: 2em;
}

.media-left {
  display: inline-block;
}

.media {
  margin-top: 20px;
}

.media-body {
  display: inline-block;
  margin-left: 100px;
  margin-top: 10px;
}

.sort {
margin: 20px;
}

.freeimg {
  text-align: center;
}

.block {
  display: inline-block;
}

.block > h1 {
  display: inline-block;
  font-size: 3em;
}

.right {
  display: inline-block;
  float: right;
}

.vcenter {
  margin-top: 20px;
}

.idea > h4 {
  text-align: center;
}

